@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Page Not Found</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="kt-error404-v1">
        <div class="kt-error404-v1__content">
            <div class="kt-error404-v1__title">404</div>
            <div class="kt-error404-v1__desc"><strong>OOPS!</strong> Something went wrong here.</div>
        </div>
        <div class="kt-error404-v1__image">
            <img src="@Url.Content("~/lib/Template/dist/assets/media/misc/404-bg1.jpg")" class="kt-error404-v1__image-content" alt="404 Error Image" title="404 Error" />
        </div>
    </div>
</body>
</html>
